body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
    text-align: center;
}

header {
    background-color: rgb(32, 32, 112);
    color: white;
    padding: 20px;
    margin-bottom: 20px;
}

.profile {
    width: 300px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    margin-bottom: 15px;
}



footer {
    margin-top: 30px;
    padding: 10px;
    color: black;
}